wsAnularTimbre/Old_App_WebReferences/AnulacionTimbre/Cancelacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="urn:reachcore.com:services:api:ws:pacservices:6.0" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Cancelacion" targetNamespace="urn:reachcore.com:services:api:ws:pacservices:6.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_ICancelacion_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="urn:reachcore.com:services:api:ws:pacservices:6.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:import namespace="http://microsoft.com/wsdl/types/" />
      <xs:element name="CancelacionFiscalRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="RFC" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Folios" type="tns:ArrayOfCancelFolio" />
            <xs:element minOccurs="0" maxOccurs="1" name="TransactionProperties" type="tns:ArrayOfTransactionProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfCancelFolio">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="CancelFolio" nillable="true" type="tns:CancelFolio" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelFolio">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="UUID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Reason" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="UUIDSubstitute" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Total" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RecipientRFC" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfTransactionProperty">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="TransactionProperty" nillable="true" type="tns:TransactionProperty" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TransactionProperty">
        <xs:attribute name="Key" type="xs:string" />
        <xs:attribute name="Value" type="xs:string" />
      </xs:complexType>
      <xs:element name="CancelacionFiscalResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ErrorMessageCode" />
            <xs:element minOccurs="1" maxOccurs="1" name="OnError" type="xs:boolean" />
            <xs:element xmlns:q1="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="TrackingId" type="q1:guid" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ErrorMessageCode">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:MessageCode">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="Target" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="Details" type="xs:string" />
              <xs:element minOccurs="0" maxOccurs="1" name="InnerErrors" type="tns:ArrayOfErrorMessageCode" />
              <xs:element minOccurs="0" maxOccurs="1" name="MoreInfo" type="xs:string" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="MessageCode">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Code" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfErrorMessageCode">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:ErrorMessageCode" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="FolioStatusRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q2="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="UUID" type="q2:guid" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FolioStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="OnError" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ErrorMessageCode" />
            <xs:element minOccurs="1" maxOccurs="1" name="SatSentRequest" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="ResultCode" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="xs:string" />
            <xs:element xmlns:q3="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="UUID" type="q3:guid" />
            <xs:element minOccurs="0" maxOccurs="1" name="UUIDStatus" type="tns:StateQueryResponse" />
            <xs:element minOccurs="0" maxOccurs="1" name="RelatedUUIDs" type="tns:ArrayOfFolioFiscalDetail" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="StateQueryResponse">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="StatusCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="IsCancellable" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="State" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="CancellationStatus" type="xs:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="QueryDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ArrayOfFolioFiscalDetail">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="FolioFiscalDetail" nillable="true" type="tns:FolioFiscalDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FolioFiscalDetail">
        <xs:sequence>
          <xs:element xmlns:q4="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="UUID" type="q4:guid" />
          <xs:element minOccurs="1" maxOccurs="1" name="RequestSentToSAT" type="xs:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="ResultCode" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="ResultMessage" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="UUIDStatus" type="tns:StateQueryResponse" />
          <xs:element minOccurs="0" maxOccurs="1" name="RelatedUUIDs" type="tns:ArrayOfFolioFiscalDetail" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="TransactionStatusRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q5="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="TrackingId" type="q5:guid" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TransactionStatusResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="OnError" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ErrorMessageCode" />
            <xs:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="tns:ErrorMessageCode" />
            <xs:element minOccurs="1" maxOccurs="1" name="TotalUUIDs" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="UUIDsSentToSAT" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="UUIDsRejectedSAT" type="xs:int" />
            <xs:element minOccurs="1" maxOccurs="1" name="Finished" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="UUIDs" type="tns:ArrayOfFolioFiscalDetail" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CancelarSolicitudFirmadaRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="SignedApplication" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="UUIDs" type="tns:ArrayOfFoliosToQuery" />
            <xs:element minOccurs="0" maxOccurs="1" name="TransactionProperties" type="tns:ArrayOfTransactionProperty" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ArrayOfFoliosToQuery">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="FoliosToQuery" nillable="true" type="tns:FoliosToQuery" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FoliosToQuery">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="UUID" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="RecipientRFC" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="Total" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CancelarSolicituFirmadaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="OnError" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="Error" type="tns:ErrorMessageCode" />
            <xs:element xmlns:q6="http://microsoft.com/wsdl/types/" minOccurs="1" maxOccurs="1" name="TrackingId" type="q6:guid" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:tns="http://www.reachcore.com/CFDI/customHeaders" elementFormDefault="qualified" targetNamespace="http://www.reachcore.com/CFDI/customHeaders" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="ApiKey" type="xs:string" />
    </xs:schema>
    <xs:schema xmlns:tns="http://microsoft.com/wsdl/types/" elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:simpleType name="guid">
        <xs:restriction base="xs:string">
          <xs:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="CancelacionFiscalRequest">
    <wsdl:part name="parameters" element="tns:CancelacionFiscalRequest" />
  </wsdl:message>
  <wsdl:message name="CancelacionFiscalRequest_Headers">
    <wsdl:part xmlns:q1="http://www.reachcore.com/CFDI/customHeaders" name="ApiKey" element="q1:ApiKey" />
  </wsdl:message>
  <wsdl:message name="CancelacionFiscalResponse">
    <wsdl:part name="parameters" element="tns:CancelacionFiscalResponse" />
  </wsdl:message>
  <wsdl:message name="FolioStatusRequest">
    <wsdl:part name="parameters" element="tns:FolioStatusRequest" />
  </wsdl:message>
  <wsdl:message name="FolioStatusRequest_Headers">
    <wsdl:part xmlns:q2="http://www.reachcore.com/CFDI/customHeaders" name="ApiKey" element="q2:ApiKey" />
  </wsdl:message>
  <wsdl:message name="FolioStatusResponse">
    <wsdl:part name="parameters" element="tns:FolioStatusResponse" />
  </wsdl:message>
  <wsdl:message name="TransactionStatusRequest">
    <wsdl:part name="parameters" element="tns:TransactionStatusRequest" />
  </wsdl:message>
  <wsdl:message name="TransactionStatusRequest_Headers">
    <wsdl:part xmlns:q3="http://www.reachcore.com/CFDI/customHeaders" name="ApiKey" element="q3:ApiKey" />
  </wsdl:message>
  <wsdl:message name="TransactionStatusResponse">
    <wsdl:part name="parameters" element="tns:TransactionStatusResponse" />
  </wsdl:message>
  <wsdl:message name="CancelarSolicitudFirmadaRequest">
    <wsdl:part name="parameters" element="tns:CancelarSolicitudFirmadaRequest" />
  </wsdl:message>
  <wsdl:message name="CancelarSolicitudFirmadaRequest_Headers">
    <wsdl:part xmlns:q4="http://www.reachcore.com/CFDI/customHeaders" name="ApiKey" element="q4:ApiKey" />
  </wsdl:message>
  <wsdl:message name="CancelarSolicituFirmadaResponse">
    <wsdl:part name="parameters" element="tns:CancelarSolicituFirmadaResponse" />
  </wsdl:message>
  <wsdl:portType name="ICancelacion">
    <wsdl:operation name="Cancelar">
      <wsdl:input wsam:Action="urn:reachcore.com:services:api:ws:pacservices:6.0/ICancelacion/Cancelar" name="CancelacionFiscalRequest" message="tns:CancelacionFiscalRequest" />
      <wsdl:output wsam:Action="urn:reachcore.com:services:api:ws:pacservices:6.0/ICancelacion/CancelarResponse" name="CancelacionFiscalResponse" message="tns:CancelacionFiscalResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetFolioStatusDetail">
      <wsdl:input wsam:Action="urn:reachcore.com:services:api:ws:pacservices:6.0/ICancelacion/GetFolioStatusDetail" name="FolioStatusRequest" message="tns:FolioStatusRequest" />
      <wsdl:output wsam:Action="urn:reachcore.com:services:api:ws:pacservices:6.0/ICancelacion/GetFolioStatusDetailResponse" name="FolioStatusResponse" message="tns:FolioStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionStatusDetail">
      <wsdl:input wsam:Action="urn:reachcore.com:services:api:ws:pacservices:6.0/ICancelacion/GetTransactionStatusDetail" name="TransactionStatusRequest" message="tns:TransactionStatusRequest" />
      <wsdl:output wsam:Action="urn:reachcore.com:services:api:ws:pacservices:6.0/ICancelacion/GetTransactionStatusDetailResponse" name="TransactionStatusResponse" message="tns:TransactionStatusResponse" />
    </wsdl:operation>
    <wsdl:operation name="CancelarSolicitudFirmada">
      <wsdl:input wsam:Action="urn:reachcore.com:services:api:ws:pacservices:6.0/ICancelacion/CancelarSolicitudFirmada" name="CancelarSolicitudFirmadaRequest" message="tns:CancelarSolicitudFirmadaRequest" />
      <wsdl:output wsam:Action="urn:reachcore.com:services:api:ws:pacservices:6.0/ICancelacion/CancelarSolicitudFirmadaResponse" name="CancelarSolicituFirmadaResponse" message="tns:CancelarSolicituFirmadaResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICancelacion" type="tns:ICancelacion">
    <wsp:PolicyReference URI="#BasicHttpBinding_ICancelacion_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Cancelar">
      <soap:operation soapAction="urn:reachcore.com:services:api:ws:pacservices:6.0/ICancelacion/Cancelar" style="document" />
      <wsdl:input name="CancelacionFiscalRequest">
        <soap:header message="tns:CancelacionFiscalRequest_Headers" part="ApiKey" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CancelacionFiscalResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolioStatusDetail">
      <soap:operation soapAction="urn:reachcore.com:services:api:ws:pacservices:6.0/ICancelacion/GetFolioStatusDetail" style="document" />
      <wsdl:input name="FolioStatusRequest">
        <soap:header message="tns:FolioStatusRequest_Headers" part="ApiKey" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FolioStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionStatusDetail">
      <soap:operation soapAction="urn:reachcore.com:services:api:ws:pacservices:6.0/ICancelacion/GetTransactionStatusDetail" style="document" />
      <wsdl:input name="TransactionStatusRequest">
        <soap:header message="tns:TransactionStatusRequest_Headers" part="ApiKey" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="TransactionStatusResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelarSolicitudFirmada">
      <soap:operation soapAction="urn:reachcore.com:services:api:ws:pacservices:6.0/ICancelacion/CancelarSolicitudFirmada" style="document" />
      <wsdl:input name="CancelarSolicitudFirmadaRequest">
        <soap:header message="tns:CancelarSolicitudFirmadaRequest_Headers" part="ApiKey" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CancelarSolicituFirmadaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cancelacion">
    <wsdl:port name="BasicHttpBinding_ICancelacion" binding="tns:BasicHttpBinding_ICancelacion">
      <soap:address location="https://oat.reachcore.com/api/ws/6.0/pacservices/Cancelacion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>